<div class="row">
	<div class="col-md-8">
		<h1>Your bag <span class="label label-info"><%= @bag.name %></span></h1>
		<%= link_to "change bag name", edit_bag_path(@bag), class: "btn btn-default btn-xs" %>
		<div class="items list">
			<h3>Items to pack</h3>
		  <% if @bag.items.empty? %>
		  	<p>You currently have no items in your bag...</p>
		  <% else %>
				<ul>
				  <% @bag.items.each do |item| %>
				    <li>
				    	<%= link_to image_tag(packed_link_img(item), id: "pack_img_#{item.id}"), toggle_status_item_path(item), :remote => true, class: "pack-check" %>
				    	<%= item.quantity %>
							<%= item.name %>
							<% if item.status == true %>
								<span id="packed_<%= item.id %>" class="text-primary">packed!</span>
							<% else %>
								<span id="packed_<%= item.id %>" class="text-danger">not packed</span>
							<% end %>
							<%= link_to "edit", edit_bag_item_path(@bag, item), class: "btn btn-default btn-xs" %>
							<%= link_to "delete", bag_item_path(@bag, item), method: :delete, data: { confirm: "You sure?" }, class: "btn btn-default btn-xs" %>
				    </li>
			  	<% end %>
				</ul>
			<% end %>
			<%= link_to "Add item", new_bag_item_path(@bag), class: "btn btn-primary" %>
		</div>
		<h4>Don't need this bag anymore?</h4>
		<%= link_to "Unpack all", reset_bag_path(@bag), data: { confirm: "You sure?" }, class: "btn btn-info btn-sm" %>
		<%= link_to "Delete bag", @bag, method: :delete, data: { confirm: "You sure?" }, class: "btn btn-danger btn-sm" %>
	</div>
	<div class="col-md-4">
		<h3>Choose items</h3>
		<h4>Clothes</h4>
			<% Item::CLOTHES.each do |item| %>
				<%= link_to item, new_bag_item_path(@bag, template: item), class: "btn btn-default btn-xs" %>
			<% end %>
		<h4>Toiletry</h4>
			<% Item::TOILETRY.each do |item| %>
				<%= link_to item, new_bag_item_path(@bag, template: item), class: "btn btn-default btn-xs" %>
			<% end %>
		<h4>Equipment</h4>
			<% Item::EQUIPMENT.each do |item| %>
				<%= link_to item, new_bag_item_path(@bag, template: item), class: "btn btn-default btn-xs" %>
			<% end %>
		<h4>Gadgets</h4>
			<% Item::GADGETS.each do |item| %>
				<%= link_to item, new_bag_item_path(@bag, template: item), class: "btn btn-default btn-xs" %>
			<% end %>
		<h4>Entertainment</h4>
			<% Item::ENTERTAINMENT.each do |item| %>
				<%= link_to item, new_bag_item_path(@bag, template: item), class: "btn btn-default btn-xs" %>
			<% end %>
	</div>
</div>