<div class="row">
  <div class="col-md-8">
    <h1>Edit your item</h1>

    <%= form_for [@bag, @item], url: bag_item_path, html: { method: :patch } do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <div class="field">
      	<%= f.label "How many?" %><br />
        <%= f.number_field(:quantity, in: 1..50) %>
      </div>
      
      <div class="field">
      	<%= f.label :name %><br />
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      
      <%= f.submit "Save changes", class: "btn btn-primary btn-sm" %>
    
    <% end %>
  </div>
</div>
