<div class="row">
  <div class="col-md-8">
    <h1>Add an item</h1>
    <%= form_for [@bag, @item], url: bag_items_path do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <p>
        <%= f.number_field(:quantity, in: 1..50, :value => 1) %>
        <%= f.text_field :name, placeholder: "What do you want to pack?", :size => 20, class: 'form-control' %>
        <%= f.select :category, options_for_select(['clothes', 'equipment', '2toiletry', 'entertainment', 'gadgets']), class: "form-control input-lg" %>
        <%= f.submit "Add", class: "btn btn-primary btn-sm" %>
      </p>
    <% end %>
  </div>
</div>